
body {
  background-color: #E8ECEF;
}

.centered {
    padding-top: 200px;
    text-align: center;
}

.secret-text {
  text-align: center;
  font-size: 2rem;
  color: #fff;
  background-color: #000;
}

.footer p {
	/* font-size: 1.2rem; */
  color: rgb(44, 193, 204);
  position: relative;
  top: 6rem;
  text-align: center;
}